* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}
.game-board{
    width: 100vmin;
    height: 100vmin;
    background-color: black;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
}

.snake {
    background-color: white;
    border: 2px solid black;

}

.food {
    background-color: gold;
    border: 2px solid black;
}