* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: Poppins;
}

.typing::after {
	content: '';
	border-right: 2px solid black;
	margin-left: 3px;
	animation: blink 0.4s infinite ease;
}

@keyframes blink {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
